.card__image {
  height: 413px;

  object-fit: cover;
  display: block;
  border-radius: 8px;
}

.card__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card__like-btn {
  background-image: url(../images/like.svg);
  width: 23px;
  height: 20px;
  border: none;
  background-color: transparent;
  opacity: 40%;
  cursor: pointer;
}

.card__like-btn:hover {
  opacity: 1;
}

.card__title {
  font-size: 20px;
  font-weight: 500;
  font-style: poppins;
  max-width: 353px;
}

@media screen and (max-width: 627px) {
  .card__image {
    height: 288px;
  }

  .card__title {
    min-width: 235px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
