.footer {
  margin-top: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  margin: auto;
  padding: 60px;
}

.footer__copyright {
  font-size: 16px;
  font-weight: 400;
  color: #212121b2;
  margin: 0;
  text-align: center;
}
